* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; background-color: #abd2d5;}

body { font-family: sans-serif; }

nav { top: 0px; }

/* ---- grid ---- */

.grid {
  background: white;
  margin-top: 70px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  /*width: 200px;*/
  width: 25%;
  padding: 10px;
}

.grid-item {
  float: left;
}

.grid-content {
  background-color: #72b2bd;
  padding: 10px;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

figcaption{
  margin-top: 10px;
}

@media screen and (max-width: 900px) {
  .grid-item {
    width: 33.3%;
  }
}

@media screen and (max-width: 768px) {
  .grid-item {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .grid-item {
    width: 100%;
  }
}
