* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll;}

body { font-family: sans-serif; }

nav { top: 0px; }
img:hover{
  opacity: 0.5;
}
/* ---- grid ---- */

.div-content {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #262829;
}

.grid {
  font-family: Calibri Light, Arial, 微軟正黑體, sans-serif;
  font-size: 18px;
}

.catalogue-list{
  margin-left: 10px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  /*width: 200px;*/
  width: 25%;
  padding: 10px;
}

.grid-item {
  float: left;
}

.grid-content {
  background-color: #72b2bd;
  padding: 10px;
  border-radius: 5px;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

figcaption{
  margin-top: 10px;
}

.div-navBackground {
    opacity: 0.6;
}
@media screen and (max-width: 900px) {
  .grid-item {
    width: 33.3%;
  }
}

@media screen and (max-width: 768px) {
  .grid-item {
    width: 50%;
  }
}

@media screen and (max-width: 500px) {
  .grid-item {
    width: 100%;
  }
}
