*{
  box-sizing: border-box;
}
.div-navWhiteBackGround{
  background-color: white;
  height: 70px;
}
.div-content{
  width: 100%;
  background-color: #262829;
}
.div-oneMember{
  width: 100%;
  padding-top: 20px;
}
.div-memberPic{
  width: 100%;
  float: left;
}
.div-memberInfo{
  width: 100%;
  float: left;
}
.div-navBackground {
    opacity: 0.6;
}
.div-infoDetail{
  width: 20%;
  height: 200px;
  float: left;
  margin-left: 4%;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: white;

}
/* img */
.img-memberPic{
  width: 20%;
  height: 359px;
  float: left;
  margin-left: 4%;
  margin-bottom: 15px;
  border-radius: 5px;
}
