html{
  background-color: #abd2d5;
}
.content{
  width: 100%;
}
.div-oneMember{
  width: 100%;
  padding-top: 90px;
}
.div-memberPic{
  width: 50%;
  float: left;
}
.div-memberInfo{
  width: 50%;
  float: left;
}


/* img */
.img-memberPic{
  width: 70%;
}
