/*  All size：L, M, S */
html, body {
    margin: 0;
    font-family: Calibri Light, Arial, 微軟正黑體, sans-serif;
}
nav {
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 7000;
}
footer {
    background-color: #abd2d5;
    text-align: center;
}
a {
    color: white;
    text-decoration: none;
}
a:hover, a:focus {
    color: white;
    text-decoration: none;
}
.a-moreBtn {
    color: white;
    font-family: Calibri Light, Arial, 微軟正黑體, sans-serif;
}
.ul-nav {
    float: right;
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 20px;
}
.li-nav {
    list-style: none;
    display: inline;
    margin-right: 40px;
    color: white;
    font-family: Calibri Light, Arial, 微軟正黑體, sans-serif;
    font-size: 20px;
}
.li-nav:hover {
    color: white;
}

/* img */

.img-logo {
    float: left;
    width: 200px;
    margin-left: 30px;
    margin-top: 10px;
}
.img-more, .img-more-2, .img-more-3, .img-more-4, .img-more-5 {
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    width: 15vw;
    height: 90%;
    background-color: white;
    border-radius: 50%;
    z-index: 6000;
}
.img-more:hover, .img-more-2:hover, .img-more-3:hover, .img-more-4:hover, .img-more-5:hover {
    background-color: #fbfba3;
}
.img-more-2 {
    float: right;
    margin-right: 130px;
}
.img-more-3 {
    float: left;
    margin-left: 130px;
}
.img-more-4 {
    float: right;
    margin-right: 30px;
}
.img-more-5 {
    float: left;
    margin-left: 30px;
}

/* div */

.notice-up{
  position: absolute;
  z-index: 9000;
  margin-bottom: 0;
  width: 100%;
}
.div-navBackground {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    background: #abd2d5;
    opacity: 0.2;
}
.modal {
    z-index: 8000;
}
.clear {
    clear: both;
}
.btn-group, .btn-group-vertical {
    vertical-align: inherit;
}
.div-landingPage {
    background-image: url(../img/landingPage.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
    text-align: center;
}
.div-slogan {
    width: 100%;
    text-align: center;
    padding-top: 20vw;
}
.div-moreBtn {
    margin: 0 auto;
    padding: 4px;
    box-sizing: border-box;
    width: 10vw;
    border: 1px solid white;
    border-radius: 2px;
    color: white;
    font-family: Calibri Light, Arial, 微軟正黑體, sans-serif;
    font-size: 25px;
    -wekit-transition: opacity;
    transition: opacity;
    -wekit-transition-duration: 1s;
    transition-duration: 1s;
    -wekit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
.div-moreBtn:hover {
    background-color: white;
    opacity: 0.5;
    color: black;
}
.div-more {
    width: 100%;
    height: 650px;
    background-image: url(../img/landingPage-2.jpg);
    background-size: cover;
    -wekit-transition: background-image;
    transition: background-image;
    -wekit-transition-duration: 1s;
    transition-duration: 1s;
    -wekit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
.div-moreBackGround {
    z-index: 5000;
    display: none;
}
.div-footerLink {
    width: 100%;
}
.div-footerLinkContent {
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
    float: left;
    width: 33%;
}
.div-footer {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    font-size: 20px;
    color: #777f7f;
    font-family: Calibri Light, Arial, 微軟正黑體, sans-serif;
}
.div-category {
    width: 100%;
    height: 33%;
    text-align: center;
}
.div-category-2 {
    width: 50%;
    height: 33%;
    float: left;
    text-align: center;
}

/* span */

.span-footerLink {
    font-size: 20px;
    color: #777f7f;
    font-family: Calibri Light, Arial, 微軟正黑體, sans-serif;
}
.span-footerLink:hover {
    color: black;
}

/* p */

.p-slogan {
    color: white;
    font-family: Calibri Light, Arial, 微軟正黑體, sans-serif;
    font-weight: bold;
    font-size: 40px;
    padding-top: 270px;
}

/*  浮框  */

.modal-dialog {
  width: 250px;
  margin: 30px auto;
}
.modal-footer {
  text-align: center;
}

@media screen and (max-width: 767px) {
    .ul-nav {
        float: left;
        width: 100%;
        margin: 0;
    }
    .li-nav {
        display: block;
        margin: 0;
        height: 50px;
        padding: 10px 0px 0px 10px;
        border-bottom: white 1px solid;
    }
    .li-nav:hover {
        text-decoration：none;
    }
    .div-category, .div-category-2, .div-category-3 {
        width: 100%;
        height: 20%;
        text-align: center;
        float: none;
    }
    .img-more, .img-more-2, .img-more-3, .img-more-4, .img-more-5 {
        margin-top: 0.5vw;
        margin-bottom: 0.5vw;
        width: 20vw;
        height: 90%;
        float: none;
        margin-left: 0;
        margin-right: 0;
    }
    .div-landingPage {
        height: 400px;
    }
    .p-slogan {
        font-size: 25px;
        padding-top: 170px;
    }
    .div-moreBtn {
        width: 30vw;
        font-size: 20px;
    }
    .div-footer {
      font-size: 12px;
    }
}

/* RWD：L */
@media screen and (min-width: 768px) {
  .li-nav:hover {
    text-decoration: underline;
  }
  nav .dropdown-menu {
    padding: 0;
    margin: 0;
    border: 0;
    top: 50px;
    background-color: transparent;
    box-shadow: none;
  }
  .dropdown-menu  .li-nav {
    margin: 0;
  }
  .dropdown-menu>li a {
    color: white;
    padding: 15px 0 15px 0;
  }

  .div-dropdown-background-1 {
      width: 160px;
      height: 101px;
      position: fixed;
      top: 70px;
      right: 0;
      background: #abd2d5;
      opacity: 0.2;
      z-index: -100;
  }
}
